.venv
.env
docker.sh
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.egg-info/
*.egg
*.DS_Store
*.coverage
*.mypy_cache/
*.pytest_cache/
tests
pytest*
*pytest*
*.json
.env.dev
docker.sh
seed.json
.pytest_cache
entrypoint.sh
pytest.ini
